<div class="content new_booking gray_box clearfix">
	<table>
		
  	<tr>
  		<td class="col1" valign="top">
        <hr>
        <%= form_for @booking do |f| %>
          <div class="new_booking_item new_booking_booking">
            <h1>Booking</h1>
            <span class="btn_round">?</span>
            <ul class="form_wrap clearfix">
              <li class="clearfix">
                <span>Pick Up:</span>
                <%= f.text_field :pickup_address %>
                <a id="show_add_via" href="#" class="addvia fl-r">Add Via</a>
              </li>
              <li id="add_via"class="disp-n">
                <span>Via:</span>
                <%= f.text_field :via_address %>
              </li>
              <li>
                <span>Drop Off:</span>
                <%= f.text_field :dropoff_address %>
              </li>
              <li>
                <ul>
                  <li><%= f.text_field :pickup_datetime, :class => "input_ico input_ico_date datepicker"%></li>
                  <li><%= f.text_field :pickup_datetime, :class =>"input_ico input_ico_time timespinner"%></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li><%= f.text_field :return_pickup_datetime, :class=>"input_ico input_ico_date datepicker"%></li>
                  <li><%= f.text_field :return_pickup_datetime, :class=>"input_ico input_ico_time timespinner"%></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li><%= f.text_field :number_of_bags, :id=>"bags", :value=>"0"%></li>
                  <li><%= f.text_field :number_of_passengers, :id=>"passenter", :value=>"0"%></li>
                </ul>
              </li>
            </ul>
          </div>

          <hr>
          <div class="new_booking_item">
            <h1>Hours Booked</h1>
            <ul class="form_wrap clearfix">
              <li><%= f.text_field :booked_hours, :placeholder=>"Enter the number of hours required if known"%></li>
            </ul>
          </div>

          <hr>
          <div class="new_booking_item">
            <h1>Flight Info</h1>
            <ul class="form_wrap clearfix">
              <li><%= f.text_field :flight_info, :placeholder=>"If flying, enter your flight info"%></li>
            </ul>
          </div>
          </td>
          <td class="col2"  valign="top">
          <hr>
          <%= f.fields_for :vehicle_preferences do |vp| %>
            <div class="new_booking_item new_booking_vehicle">
              <h1>Vehicle Preferences</h1>
              <span class="btn_round">?</span>
              <ul class="form_wrap clearfix">
                <li class="fl-l">
                  <%= vp.select :vehicle_type_id, options_for_select(%w[1 2 3], :class=>"type select_menu") %>
                </li>
                <li class="fl-l"><%= vp.text_field :number_of_vehicle, :placeholder=>"Number", :value => "5"%></li>
                <li class="fl-r">
                  <a id="show_another_vehicle" href="#" class="btn btn_orange btn_add">+</a>
                </li>
              </ul>
              <ul id="another_vehicle" class="form_wrap clearfix disp-n">
                <li class="fl-l">
                  <%#= vp.select :vehicle_type_id, options_for_select(%w[1 2 3]), :class=>"type select_menu" %>
                </li>
                <li class="fl-l"><%#= vp.text_field :number_of_vehicle, :placeholder=>"Number", :class=>"number spinner"%></li>
                
              </ul>
            </div>
            
          <% end %>
          <li class="fl-r">
                <%= f.submit "Submit"%>
              </li>
          <% end %>
  		</td>
  	</tr>
  </table>
 </div>
