<div class="content_heading">
  New Booking
</div>  

<div class="content_nav dblshadow">
  <ul>
    <li class="first <%= get_tab_status(params[:action], 'index') %>">
      <%= link_to new_booking_path do %>
        New Booking<span class="content_nav_arrow"></span>
      <% end %>
    </li>
    <li class="last <%= get_tab_status(params[:action], 'booking_history') %>">
      <%= link_to booking_history_path do %>
        Booking History<span class="content_nav_arrow"></span>
      <% end %>
    </li>
  </ul>
</div>
<%= render :partial => "booking_history_tab" %>
