<div class="content grid my_rides clearfix">
  <div class="col3 col3_span fl-l">
    <div class="grid_item current_rides gray_box">
      <div class="grid_item_headings clearfix">
          <h1>Current Rides</h1>
      </div>
      <hr>
      <div class="grid_item_content">
        <div class="clearfix">
          <h2 class="fl-l"><%= current_date %> Taxi Ride:</h2>
          <button class="btn btn_orange fixed_width fl-r">Edit Details</button>
        </div>
        <div class="current_rides_item">
          <h3>Taxi Company:</h3>
          <p><%= @texi.taxi_company_name%></p>
          <p><%= @texi.taxi_company_phone_no%></p>
        </div>
        <div class="clearfix">
          <div class="current_rides_item pickup fl-l">
            <h3>Pickup:</h3>
            <p><%= @pickup_address.try(:address) %></p>
            <p>Alexandria, VA 22314</p>
          </div>
          <div class="current_rides_item dropoff fl-l">
            <h3>Drop Off:</h3>
            <p><%= @dropoff_address.try(:address) %></p>
            <p>Alexandria, VA 22314</p>
          </div>
        </div>
      </div>
      <div class="current_rides_map">
        <div id="map" class="map_holder"></div>    
      </div>
    </div>
  </div>
  <div class="col3 sidebar fl-r">
    <div class="grid_item gray_box">
      <div class="grid_item_headings clearfix">
        <h1>Schedule Rides</h1>
      </div>
      <hr>
      <div class="grid_item_content">
        <strong>You have no upcoming rides</strong>
      </div>
    </div>
    <div class="grid_item  all_current_rides gray_box">
      <div class="grid_item_headings clearfix">
        <h1>All Current Rides</h1>
      </div>
      <hr>
      <div class="grid_item_content">
        <div class="all_current_rides_item">
          <p>
            <strong>Tuesday, 05/07 at 9:50PM</strong>
          </p>
          <p>
            Alexandria, VA <span class="current_rides_highlight">Current Rides</span>
          </p>
        </div>
        <div class="all_current_rides_item">
          <p>
            <strong>Wednesday, 05/08 at 11:30PM</strong>
          </p>
          <p>
            Alexandria, VA <a href="#">View Details</a>
          </p>
        </div>          
      </div>
    </div>
  </div>
</div>
